mat-form-field {
  padding-top: 80px
}

@media screen and (min-width: 960px) {

  mat-form-field {
    width: calc(90% + 40px);
  }

  app-pokemon {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  app-pokemon:nth-child(3n), app-pokemon:last-child {
    margin-right: 0;
  }

}

@media screen and (max-width: 959px) {
  mat-form-field {
    width: 90%;
  }

  app-pokemon {
    width: 90%;
    padding-bottom: 20px;
  }
}
