<div fxLayout="row" fxLayoutAlign="center start">
  <mat-form-field>
    <input matInput #search placeholder="Rechercher">
  </mat-form-field>
</div>

<div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="center start" fxLayoutAlign.lt-md="start center"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <app-pokemon  fxFlex.gt-sm="30" *ngFor="let pokemon of pokemons | search:search.value" [pokemon]="pokemon" (click)="onCardClick(pokemon)"></app-pokemon>
</div>
