<table mat-table [dataSource]="moves">
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let move"> {{move?.names | pokeTranslate:'fr':'name'}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let move"> {{move?.damage_class?.details?.names | pokeTranslate:'fr':'name'}} </td>
  </ng-container>

  <ng-container matColumnDef="puissance">
    <th mat-header-cell *matHeaderCellDef> Puissance </th>
    <td mat-cell *matCellDef="let move"> {{move?.power}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
