<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>API_KEY</key>
    <string>AIzaSyASbjYffZa0GLCuDC64OUXmwfMEUnBwr5k</string>
    <key>GCM_SENDER_ID</key>
    <string>907687156541</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.sfeir.lux.pokedex</string>
    <key>PROJECT_ID</key>
    <string>raif-pokedex</string>
    <key>STORAGE_BUCKET</key>
    <string>raif-pokedex.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:907687156541:ios:7ff53cf455258299954354</string>
  </dict>
</plist>
